<article data-role="question">
    <header>
        <h3><%= questionModel.get('name') %></h3>

        <%= questionModel.get('intro') %>
    </header>

    <div data-role="question-reply">
        <button data-role="audio-record-control" data-control-type="start"><i class="fa fa-microphone"></i> Start Record</button>
        <button data-role="audio-record-control" data-control-type="stop" disabled><i class="fa fa-microphone"></i> Stop Record</button>

        <div data-role="preview-container">
            <% if (answerModel.get('fileid')) { %>
            <audio src="/files/<%= answerModel.get('fileid') %>.wav" controls="controls"></audio>
            <% } %>
        </div>

        <audio controls data-role="comparator-template" style="visibility: hidden;">
            <source src="<%= questionModel.get('imagename') %>" type="audio/mpeg" />
        </audio>
    </div>
</article>